*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  overflow: hidden;
  background-image: url("../assets/bg.jpg");
  background-size: cover; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;

  padding-top: 4rem;
  
 


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-height: 700px) {

  html{
    background-size: auto;
  }
  
}
